:root {
    --dark-purple: #242038ff;
    --slate-blue: #725ac1ff;
    --tropical-indigo: #8d86c9ff;
    --french-gray: #cac4ceff;
    --linen: #f7ece1ff;
    --black: #000000;
    --white: #ffffff;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--french-gray);
}

.language-section {
    text-align: center;
}

h1 {
    font-size: 4em;
    color: var(--dark-purple);
}

p {
    font-size: 1.5em;
    color: var(--slate-blue);
    margin: 20px auto;
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: var(--tropical-indigo);
    color: var(--dark-purple);
    text-decoration: none;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--linen);
}

.language-button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: var(--slate-blue);
    color: var(--white);
    text-decoration: none;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.language-button:hover {
    background-color: var(--dark-purple);
}
