:root {
    --english-violet: #654f6f;
    --ultra-violet: #5c5d8d;
    --cadet-gray: #99a1a6;
    --celadon: #a8c69f;
    --tea-green: #cce2a3;
    --jet: #333333;
    --eminence: #643173;
    --royal-purple: #7d5ba6;
    --cambridge-blue: #86a59c;
    --celadon-2: #89ce94;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cadet-gray);
}

.language-section {
    text-align: center;
}

h1 {
    font-size: 4em;
    color: var(--english-violet);
}

p {
    font-size: 1.5em;
    color: var(--ultra-violet);
    margin: 20px auto;
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: var(--celadon); 
    color: var(--english-violet); 
    text-decoration: none;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--tea-green); 
}

.language-button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: var(--royal-purple); 
    color: white; 
    text-decoration: none;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.language-button:hover {
    background-color: var(--eminence); 
}