:root {
    --dark-purple: #242038ff;
    --slate-blue: #725ac1ff;
    --tropical-indigo: #8d86c9ff;
    --french-gray: #cac4ceff;
    --linen: #f7ece1ff;
    --black: #000000;
    --white: #ffffff;
  } 

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--french-gray);
    color: var(--dark-purple);
}
#title {
    font-size: 36px;
    margin-top: 50px;
    color: var(--slate-blue);
}
#summary {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#links {
    margin-top: 20px;
    font-size: 24px;
}
#links a {
    display: block;
    margin-bottom: 10px;
    color: var(--tropical-indigo);
    text-decoration: none;
}
#links a:hover {
    color: var(--dark-purple);
}
